In [4]:
data = """S.No,Name,Father Name,Mid Term,Final Term,Assignment,Percentage,Grade
1,Abdul Hameed,Yousaf Zaman,3.8,0.0,7.0,11.0,F
2,Abdur Rehman Khalil,Rab Nawaz Khan Khalil,9.8,0.0,5.0,15.0,F
3,Abu Bakar Sadiq,Hidayat Ullah,12.8,42.2,19.0,74.0,B
4,Ahmad Faraz,Rowaid Jan,20.3,45.0,15.0,80.0,A
5,Areeba Ali,Fayaz Ali,20.3,27.8,19.0,67.0,C+
6,Aurshia Mudassar,Mudassar Aziz,24.0,48.3,20.0,92.0,A+
7,Ayesha Nawaz Khan,Amir Nawaz Khan,22.5,48.3,20.0,91.0,A+
8,Danial Amjad,Amjad Iqbal,6.0,0.0,6.0,12.0,F
9,Eshal Khan,Wali Khan,11.3,29.4,20.0,61.0,C
10,Ghulam Jillani,Aman Ullah,24.8,38.3,17.0,80.0,B+
11,Hafsa Taj,Taj Muhammad,0.0,0.0,5.0,5.0,F
12,Hammad Hussain,Rahmat Hussain,17.3,27.8,16.0,61.0,C
13,Hamza Noor,Fayyaz Noor,0.0,0.0,8.0,8.0,F
14,Hina Zahra,Deedar Ali,4.5,0.0,3.0,8.0,F
15,Hoorain Saud,Saud Ur Rahman,22.5,45.0,20.0,88.0,A
16,Ibad Ur Rahman,Zia Ur Rahman,7.5,0.0,7.0,15.0,F
17,Kashmala Khan,Arif Firdous,3.0,0.0,6.0,9.0,F
18,Mahmood Ahmad Sajjad,Sajjad Ahmad,19.5,39.4,20.0,79.0,B
19,Malaika Malik,Nazar Alam,6.0,0.0,5.0,11.0,F
20,Mansoor Ahmad Khan,Alam Zeb,2.3,0.0,6.0,8.0,F
21,Mohammad Umar Saeed,Ahmad Saeed,28.5,48.9,20.0,97.0,A+
22,Mughira,Ijaz,6.0,0.0,10.0,16.0,F
23,Muhammad Ahmad Atif,Atif Waseh,25.5,38.9,20.0,84.0,B+
24,Muhammad Anas Afridi,Abdul Jabbar Khan,22.5,44.4,20.0,87.0,A
25,Muhammad Hammad Shakeel,Shakeel Ahmed,27.0,50.0,20.0,97.0,A+
26,Muhammad Ilyas,Syed Rehman,0.0,0.0,0.0,0.0,F
27,Muhammad Rayyan,Muhammad Usman,7.5,32.2,20.0,60.0,C
28,Muhammad Saad,Zafar Ullah Khan,12.0,0.0,4.0,16.0,F
29,Muhammad Yousaf,Hamid Hussain,10.5,0.0,6.0,17.0,F
30,Naveed Khan,Seva Jan,12.0,0.0,5.0,17.0,F
31,Numan Ali,Amirda Ali,4.5,0.0,3.0,8.0,F
32,Rahmat Ullah Afridi,Mahmood Khan,25.5,40.0,18.0,84.0,B+
33,Sadiq Ullah,Dil Faroz Khan,6.0,0.0,3.0,9.0,F
34,Sikander Khaleel,Muhammad Khaleel,26.3,42.8,18.0,87.0,A
35,Syeda Shandana Shah,Adnan Malik,8.3,0.0,6.0,14.0,F
36,Syed Soban Ahmed Shah,Waqar Ahmed,21.8,45.6,20.0,87.0,A
37,Yahya Raees Khan,Raees Khan,10.5,30.0,20.0,61.0,C
38,Zarmeen Abdullah,Amin Ullah,0.8,0.0,4.0,5.0,F"""

In [7]:
split_data = []
split_data = data.split('\n')

In [8]:
split_data[0]

'S.No,Name,Father Name,Mid Term,Final Term,Assignment,Percentage,Grade'

In [9]:
nested_splited_data = []
temp = []
for tempList in split_data:
    temp = tempList.split(',')
    nested_splited_data.append(temp)

In [10]:
nested_splited_data

[['S.No',
  'Name',
  'Father Name',
  'Mid Term',
  'Final Term',
  'Assignment',
  'Percentage',
  'Grade'],
 ['1', 'Abdul Hameed', 'Yousaf Zaman', '3.8', '0.0', '7.0', '11.0', 'F'],
 ['2',
  'Abdur Rehman Khalil',
  'Rab Nawaz Khan Khalil',
  '9.8',
  '0.0',
  '5.0',
  '15.0',
  'F'],
 ['3',
  'Abu Bakar Sadiq',
  'Hidayat Ullah',
  '12.8',
  '42.2',
  '19.0',
  '74.0',
  'B'],
 ['4', 'Ahmad Faraz', 'Rowaid Jan', '20.3', '45.0', '15.0', '80.0', 'A'],
 ['5', 'Areeba Ali', 'Fayaz Ali', '20.3', '27.8', '19.0', '67.0', 'C+'],
 ['6',
  'Aurshia Mudassar',
  'Mudassar Aziz',
  '24.0',
  '48.3',
  '20.0',
  '92.0',
  'A+'],
 ['7',
  'Ayesha Nawaz Khan',
  'Amir Nawaz Khan',
  '22.5',
  '48.3',
  '20.0',
  '91.0',
  'A+'],
 ['8', 'Danial Amjad', 'Amjad Iqbal', '6.0', '0.0', '6.0', '12.0', 'F'],
 ['9', 'Eshal Khan', 'Wali Khan', '11.3', '29.4', '20.0', '61.0', 'C'],
 ['10', 'Ghulam Jillani', 'Aman Ullah', '24.8', '38.3', '17.0', '80.0', 'B+'],
 ['11', 'Hafsa Taj', 'Taj Muhammad', '0.0', '0.0', '5.0', '5.0', 'F'],
 ['12',
  'Hammad Hussain',
  'Rahmat Hussain',
  '17.3',
  '27.8',
  '16.0',
  '61.0',
  'C'],
 ['13', 'Hamza Noor', 'Fayyaz Noor', '0.0', '0.0', '8.0', '8.0', 'F'],
 ['14', 'Hina Zahra', 'Deedar Ali', '4.5', '0.0', '3.0', '8.0', 'F'],
 ['15', 'Hoorain Saud', 'Saud Ur Rahman', '22.5', '45.0', '20.0', '88.0', 'A'],
 ['16', 'Ibad Ur Rahman', 'Zia Ur Rahman', '7.5', '0.0', '7.0', '15.0', 'F'],
 ['17', 'Kashmala Khan', 'Arif Firdous', '3.0', '0.0', '6.0', '9.0', 'F'],
 ['18',
  'Mahmood Ahmad Sajjad',
  'Sajjad Ahmad',
  '19.5',
  '39.4',
  '20.0',
  '79.0',
  'B'],
 ['19', 'Malaika Malik', 'Nazar Alam', '6.0', '0.0', '5.0', '11.0', 'F'],
 ['20', 'Mansoor Ahmad Khan', 'Alam Zeb', '2.3', '0.0', '6.0', '8.0', 'F'],
 ['21',
  'Mohammad Umar Saeed',
  'Ahmad Saeed',
  '28.5',
  '48.9',
  '20.0',
  '97.0',
  'A+'],
 ['22', 'Mughira', 'Ijaz', '6.0', '0.0', '10.0', '16.0', 'F'],
 ['23',
  'Muhammad Ahmad Atif',
  'Atif Waseh',
  '25.5',
  '38.9',
  '20.0',
  '84.0',
  'B+'],
 ['24',
  'Muhammad Anas Afridi',
  'Abdul Jabbar Khan',
  '22.5',
  '44.4',
  '20.0',
  '87.0',
  'A'],
 ['25',
  'Muhammad Hammad Shakeel',
  'Shakeel Ahmed',
  '27.0',
  '50.0',
  '20.0',
  '97.0',
  'A+'],
 ['26', 'Muhammad Ilyas', 'Syed Rehman', '0.0', '0.0', '0.0', '0.0', 'F'],
 ['27',
  'Muhammad Rayyan',
  'Muhammad Usman',
  '7.5',
  '32.2',
  '20.0',
  '60.0',
  'C'],
 ['28',
  'Muhammad Saad',
  'Zafar Ullah Khan',
  '12.0',
  '0.0',
  '4.0',
  '16.0',
  'F'],
 ['29', 'Muhammad Yousaf', 'Hamid Hussain', '10.5', '0.0', '6.0', '17.0', 'F'],
 ['30', 'Naveed Khan', 'Seva Jan', '12.0', '0.0', '5.0', '17.0', 'F'],
 ['31', 'Numan Ali', 'Amirda Ali', '4.5', '0.0', '3.0', '8.0', 'F'],
 ['32',
  'Rahmat Ullah Afridi',
  'Mahmood Khan',
  '25.5',
  '40.0',
  '18.0',
  '84.0',
  'B+'],
 ['33', 'Sadiq Ullah', 'Dil Faroz Khan', '6.0', '0.0', '3.0', '9.0', 'F'],
 ['34',
  'Sikander Khaleel',
  'Muhammad Khaleel',
  '26.3',
  '42.8',
  '18.0',
  '87.0',
  'A'],
 ['35',
  'Syeda Shandana Shah',
  'Adnan Malik',
  '8.3',
  '0.0',
  '6.0',
  '14.0',
  'F'],
 ['36',
  'Syed Soban Ahmed Shah',
  'Waqar Ahmed',
  '21.8',
  '45.6',
  '20.0',
  '87.0',
  'A'],
 ['37', 'Yahya Raees Khan', 'Raees Khan', '10.5', '30.0', '20.0', '61.0', 'C'],
 ['38', 'Zarmeen Abdullah', 'Amin Ullah', '0.8', '0.0', '4.0', '5.0', 'F']]

In [ ]:
for i in nested_splited_data:
    print(i[-1])

In [16]:
mydict={}
for i in nested_splited_data:
    if i[-1] in mydict:
        mydict[i[-1]] += 1
    else:
        mydict[i[-1]] = 1

In [18]:
mydict

{'Grade': 1, 'F': 19, 'B': 2, 'A': 5, 'C+': 1, 'A+': 4, 'C': 4, 'B+': 3}

In [22]:
grade = tuple(mydict.items())

In [23]:
grade

(('Grade', 1),
 ('F', 19),
 ('B', 2),
 ('A', 5),
 ('C+', 1),
 ('A+', 4),
 ('C', 4),
 ('B+', 3))

In [40]:
# start sorting
inter = grade[1:]

In [41]:
inter

(('F', 19), ('B', 2), ('A', 5), ('C+', 1), ('A+', 4), ('C', 4), ('B+', 3))

In [42]:
inter2 = []
for i in inter:
    inter2.append(i[0])

In [43]:
inter2

['F', 'B', 'A', 'C+', 'A+', 'C', 'B+']

In [54]:
sorted_ = (set(inter2))
sorted_

{'A', 'A+', 'B', 'B+', 'C', 'C+', 'F'}

In [ ]:

grades_=['A+', 'A', 'B+', 'B', 'C+', 'C', 'F']

In [11]:
import numpy

In [14]:
numpy_cleaned = numpy.array.nested_splited_data

AttributeError: 'builtin_function_or_method' object has no attribute 'nested_splited_data'

In [66]:
grades_=['A+', 'A', 'B+', 'B', 'C+', 'C', 'F'][::-1]
gpa_ranges=[(0,59),(60,65),(66,71),(72,79),(80,86),(87,100)]
gpa_returns=[2,2.5,3,3.5,4]

In [71]:
grades_

['F', 'C', 'C+', 'B', 'B+', 'A', 'A+']

In [81]:
gpa_ranges.pop(-4)
# gpa_ranges.insert(-1,(87,90))
# gpa_ranges.insert(-1,(91,100))
gpa_ranges.insert(-4,(72, 79))

In [69]:
gpa_returns.insert(0,0)
gpa_returns.insert(-1,4)

In [83]:
gpa_ranges[2],gpa_ranges[3] = gpa_ranges[3],gpa_ranges[2]

In [85]:
gpa_ranges

[(0, 59), (60, 65), (66, 71), (72, 79), (80, 86), (87, 90), (91, 100)]

In [84]:
gpa_returns

[0, 2, 2.5, 3, 3.5, 4, 4]

In [86]:
for i in range(len(gpa_ranges)):
    print(gpa_ranges[i]," => ",grades_[i],' => ',gpa_returns[i])

(0, 59)  =>  F  =>  0
(60, 65)  =>  C  =>  2
(66, 71)  =>  C+  =>  2.5
(72, 79)  =>  B  =>  3
(80, 86)  =>  B+  =>  3.5
(87, 90)  =>  A  =>  4
(91, 100)  =>  A+  =>  4

In [87]:
inter

(('F', 19), ('B', 2), ('A', 5), ('C+', 1), ('A+', 4), ('C', 4), ('B+', 3))

In [88]:
grades_

['F', 'C', 'C+', 'B', 'B+', 'A', 'A+']

In [89]:
dictq = {}
for i in grades_:
    dictq[i]=0

In [90]:
dictq

{'F': 0, 'C': 0, 'C+': 0, 'B': 0, 'B+': 0, 'A': 0, 'A+': 0}

In [91]:
for i in inter:
    dictq[i[0]] = i[1]

In [92]:
dictq

{'F': 19, 'C': 4, 'C+': 1, 'B': 2, 'B+': 3, 'A': 5, 'A+': 4}

In [94]:
print("range,   grade,    gpa    , frequency")
for i in range(len(gpa_ranges)):
    print(gpa_ranges[i]," => ",grades_[i],' => ',gpa_returns[i]," => ",dictq[grades_[i]])

range,   grade,    gpa    , frequency
(0, 59)  =>  F  =>  0  =>  19
(60, 65)  =>  C  =>  2  =>  4
(66, 71)  =>  C+  =>  2.5  =>  1
(72, 79)  =>  B  =>  3  =>  2
(80, 86)  =>  B+  =>  3.5  =>  3
(87, 90)  =>  A  =>  4  =>  5
(91, 100)  =>  A+  =>  4  =>  4

In [ ]:
    #  if (marks >= 91) return ["A+", 4.0];
    #     else if (marks >= 87) return ["A", 4.0];
    #     else if (marks >= 80) return ["B+", 3.5];
    #     else if (marks >= 72) return ["B", 3.0];
    #     else if (marks >= 66) return ["C+", 2.5];
    #     else if (marks >= 60) return ["C", 2.0];
    #     else return ["F", 0.0];
    # }

In [ ]:
# 'cumulative frequency',
# 'cumulative relative frequency'

In [ ]:
frequency_distribution = {
    'Marks Range',
    'Grade',
    'Frequency (f)',
    'Mid'
}

In [100]:
nested_splited_data

[['S.No',
  'Name',
  'Father Name',
  'Mid Term',
  'Final Term',
  'Assignment',
  'Percentage',
  'Grade'],
 ['1', 'Abdul Hameed', 'Yousaf Zaman', '3.8', '0.0', '7.0', '11.0', 'F'],
 ['2',
  'Abdur Rehman Khalil',
  'Rab Nawaz Khan Khalil',
  '9.8',
  '0.0',
  '5.0',
  '15.0',
  'F'],
 ['3',
  'Abu Bakar Sadiq',
  'Hidayat Ullah',
  '12.8',
  '42.2',
  '19.0',
  '74.0',
  'B'],
 ['4', 'Ahmad Faraz', 'Rowaid Jan', '20.3', '45.0', '15.0', '80.0', 'A'],
 ['5', 'Areeba Ali', 'Fayaz Ali', '20.3', '27.8', '19.0', '67.0', 'C+'],
 ['6',
  'Aurshia Mudassar',
  'Mudassar Aziz',
  '24.0',
  '48.3',
  '20.0',
  '92.0',
  'A+'],
 ['7',
  'Ayesha Nawaz Khan',
  'Amir Nawaz Khan',
  '22.5',
  '48.3',
  '20.0',
  '91.0',
  'A+'],
 ['8', 'Danial Amjad', 'Amjad Iqbal', '6.0', '0.0', '6.0', '12.0', 'F'],
 ['9', 'Eshal Khan', 'Wali Khan', '11.3', '29.4', '20.0', '61.0', 'C'],
 ['10', 'Ghulam Jillani', 'Aman Ullah', '24.8', '38.3', '17.0', '80.0', 'B+'],
 ['11', 'Hafsa Taj', 'Taj Muhammad', '0.0', '0.0', '5.0', '5.0', 'F'],
 ['12',
  'Hammad Hussain',
  'Rahmat Hussain',
  '17.3',
  '27.8',
  '16.0',
  '61.0',
  'C'],
 ['13', 'Hamza Noor', 'Fayyaz Noor', '0.0', '0.0', '8.0', '8.0', 'F'],
 ['14', 'Hina Zahra', 'Deedar Ali', '4.5', '0.0', '3.0', '8.0', 'F'],
 ['15', 'Hoorain Saud', 'Saud Ur Rahman', '22.5', '45.0', '20.0', '88.0', 'A'],
 ['16', 'Ibad Ur Rahman', 'Zia Ur Rahman', '7.5', '0.0', '7.0', '15.0', 'F'],
 ['17', 'Kashmala Khan', 'Arif Firdous', '3.0', '0.0', '6.0', '9.0', 'F'],
 ['18',
  'Mahmood Ahmad Sajjad',
  'Sajjad Ahmad',
  '19.5',
  '39.4',
  '20.0',
  '79.0',
  'B'],
 ['19', 'Malaika Malik', 'Nazar Alam', '6.0', '0.0', '5.0', '11.0', 'F'],
 ['20', 'Mansoor Ahmad Khan', 'Alam Zeb', '2.3', '0.0', '6.0', '8.0', 'F'],
 ['21',
  'Mohammad Umar Saeed',
  'Ahmad Saeed',
  '28.5',
  '48.9',
  '20.0',
  '97.0',
  'A+'],
 ['22', 'Mughira', 'Ijaz', '6.0', '0.0', '10.0', '16.0', 'F'],
 ['23',
  'Muhammad Ahmad Atif',
  'Atif Waseh',
  '25.5',
  '38.9',
  '20.0',
  '84.0',
  'B+'],
 ['24',
  'Muhammad Anas Afridi',
  'Abdul Jabbar Khan',
  '22.5',
  '44.4',
  '20.0',
  '87.0',
  'A'],
 ['25',
  'Muhammad Hammad Shakeel',
  'Shakeel Ahmed',
  '27.0',
  '50.0',
  '20.0',
  '97.0',
  'A+'],
 ['26', 'Muhammad Ilyas', 'Syed Rehman', '0.0', '0.0', '0.0', '0.0', 'F'],
 ['27',
  'Muhammad Rayyan',
  'Muhammad Usman',
  '7.5',
  '32.2',
  '20.0',
  '60.0',
  'C'],
 ['28',
  'Muhammad Saad',
  'Zafar Ullah Khan',
  '12.0',
  '0.0',
  '4.0',
  '16.0',
  'F'],
 ['29', 'Muhammad Yousaf', 'Hamid Hussain', '10.5', '0.0', '6.0', '17.0', 'F'],
 ['30', 'Naveed Khan', 'Seva Jan', '12.0', '0.0', '5.0', '17.0', 'F'],
 ['31', 'Numan Ali', 'Amirda Ali', '4.5', '0.0', '3.0', '8.0', 'F'],
 ['32',
  'Rahmat Ullah Afridi',
  'Mahmood Khan',
  '25.5',
  '40.0',
  '18.0',
  '84.0',
  'B+'],
 ['33', 'Sadiq Ullah', 'Dil Faroz Khan', '6.0', '0.0', '3.0', '9.0', 'F'],
 ['34',
  'Sikander Khaleel',
  'Muhammad Khaleel',
  '26.3',
  '42.8',
  '18.0',
  '87.0',
  'A'],
 ['35',
  'Syeda Shandana Shah',
  'Adnan Malik',
  '8.3',
  '0.0',
  '6.0',
  '14.0',
  'F'],
 ['36',
  'Syed Soban Ahmed Shah',
  'Waqar Ahmed',
  '21.8',
  '45.6',
  '20.0',
  '87.0',
  'A'],
 ['37', 'Yahya Raees Khan', 'Raees Khan', '10.5', '30.0', '20.0', '61.0', 'C'],
 ['38', 'Zarmeen Abdullah', 'Amin Ullah', '0.8', '0.0', '4.0', '5.0', 'F']]

In [101]:
marks = []
for i in nested_splited_data:
    marks.append(i[-2])

In [102]:
marks

['Percentage',
 '11.0',
 '15.0',
 '74.0',
 '80.0',
 '67.0',
 '92.0',
 '91.0',
 '12.0',
 '61.0',
 '80.0',
 '5.0',
 '61.0',
 '8.0',
 '8.0',
 '88.0',
 '15.0',
 '9.0',
 '79.0',
 '11.0',
 '8.0',
 '97.0',
 '16.0',
 '84.0',
 '87.0',
 '97.0',
 '0.0',
 '60.0',
 '16.0',
 '17.0',
 '17.0',
 '8.0',
 '84.0',
 '9.0',
 '87.0',
 '14.0',
 '87.0',
 '61.0',
 '5.0']

In [103]:
sorted_marks = sorted(marks)

In [ ]:
sorted_marks.pop(-1)#to remove 'percentage'

# step 1

In [ ]:
sorted_marks

['0.0',
 '11.0',
 '11.0',
 '12.0',
 '14.0',
 '15.0',
 '15.0',
 '16.0',
 '16.0',
 '17.0',
 '17.0',
 '5.0',
 '5.0',
 '60.0',
 '61.0',
 '61.0',
 '61.0',
 '67.0',
 '74.0',
 '79.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '80.0',
 '80.0',
 '84.0',
 '84.0',
 '87.0',
 '87.0',
 '87.0',
 '88.0',
 '9.0',
 '9.0',
 '91.0',
 '92.0',
 '97.0',
 '97.0']

# step 2

In [ ]:
# N = range = Xmax - Xmin
range = (float(sorted_marks[-1]) - float(sorted_marks[0]))
range

97.0

# step 3

#### - no. of Classes

In [114]:
# k = 1 + 3.3 * log N
import math
no_of_classes  = 1 + 3.3*math.log10(range)
no_of_classes

7.556346723078607

8 is the number of classes

# step 4

In [122]:
# h = range / k
h = range / no_of_classes
h

12.836891100264422

13 is this number

In [123]:
# round up
h = math.ceil(h)
h

13

# step 5

In [ ]:
# classes, Tally, Frequency

In [134]:
sorted_marks

['0.0',
 '11.0',
 '11.0',
 '12.0',
 '14.0',
 '15.0',
 '15.0',
 '16.0',
 '16.0',
 '17.0',
 '17.0',
 '5.0',
 '5.0',
 '60.0',
 '61.0',
 '61.0',
 '61.0',
 '67.0',
 '74.0',
 '79.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '80.0',
 '80.0',
 '84.0',
 '84.0',
 '87.0',
 '87.0',
 '87.0',
 '88.0',
 '9.0',
 '9.0',
 '91.0',
 '92.0',
 '97.0',
 '97.0']

In [127]:
len(sorted_marks)

38

In [137]:
13*8

104

In [158]:
del range

In [ ]:
print("classes")
for i in range(int(8)):
    print(0+13*i,"-",12+i*13)

classes
 0 - 12
13 - 25
26 - 38
39 - 51
52 - 64
65 - 77
78 - 90
91 - 103

In [172]:
classes_ = """0 - 12
13 - 25
26 - 38
39 - 51
52 - 64
65 - 77
78 - 90
91 - 103"""

In [ ]:
classes_ = classes_.split("\n")

In [174]:
nested_split =[]
for i in classes_:
    temp =[]
    temp = i.split(" - ")
    nested_split.append(temp)

In [176]:
nested_split[-1][1]= 100
nested_split

[['0', '12'],
 ['13', '25'],
 ['26', '38'],
 ['39', '51'],
 ['52', '64'],
 ['65', '77'],
 ['78', '90'],
 ['91', 100]]

In [178]:
result_ns_int = []
for i in nested_split:
    result_ns_int.append([int(i[0]),int(i[1])])

In [179]:
result_ns_int

[[0, 12],
 [13, 25],
 [26, 38],
 [39, 51],
 [52, 64],
 [65, 77],
 [78, 90],
 [91, 100]]

In [180]:
freq = [0]*8

In [196]:
print("Range\t\tFrequency")
for i in result_ns_int:
    tmp = 0
    for j in sorted_marks:
        if i[0]<=int(float(j)) and int(float(j))<=i[1]:
            tmp += 1
    print(i,'\t',tmp)

Range		Frequency
[0, 12] 	 12
[13, 25] 	 7
[26, 38] 	 0
[39, 51] 	 0
[52, 64] 	 4
[65, 77] 	 2
[78, 90] 	 9
[91, 100] 	 4

In [ ]:
# sorted_marks
for i in result_ns_int:

Range		Frequency
[0, 12] 	 12
[13, 25] 	 7
[26, 38] 	 0
[39, 51] 	 0
[52, 64] 	 4
[65, 77] 	 2
[78, 90] 	 9
[91, 100] 	 4